# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
*.sqlite3
/db.sqlite3
/media
/staticfiles
.env

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Pytest
.pytest_cache/
