{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha de Inicio</th>
        <th scope="col">Fecha de Fin</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.fechaInicio }}</td>
            <td>{{ c.fechaFin }}</td>
            <td>{{ c.estado }}</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
            </td>

        </tr>
    {% endfor %}


{% endblock %}



