{% extends 'vtc/body.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}">
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    {% block head_list %}

    {% endblock %}

{% endblock %}
{% block content %}
    <div class="card">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <div class="card-header">

            <h3 class="card-title">
                <i class="fa-duotone fa-solid fa-magnifying-glass-plus"></i>
                {{ title }}
            </h3>
            <i class="fa-solid fa-shield-halved"></i>
        </div>

        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}

                {% endblock %}

                </thead>
                <tbody>
                {% block rows %}

                {% endblock %}


                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fa-solid fa-plus"></i>Nuevo resgistro
            </a>
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>

    </div>
{% endblock %}
{% block JavaScript %}
    <script> type = "application/javascript" >
        $(document).ready(function () {
            $('#data').DataTable(
                {
                    responsive: true,
                    autoWidth: false
                });
            $('.btnTest').on('click', function () {
                /*  $.ajax({
                      url: '

                {% url 'core:category_list' %}',
                    type: 'POST',
                    data: {id: 1},
                    datatype: 'json'
                }).done(function (data) {
                    console.log(data)
                }).fail(function (jqXHR, textStatus, errorThrown) {


                {#alert(textStatus + '='+ errorThrown);#}
                }).always(function (data) {
                });*/
            });
        });
    </script>
{% endblock %}